@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {

}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    position: relative;
}

.navbar-nav {
    /*flex-direction: row;*/
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

nav.navbar{
    background-color:#ccc;
/*// Animation*/
-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bg-dark {
    background-color: rgba(0,0,0,0.8) !important;
}

.logo {
    min-height: 80px;
    max-height: 80px;
}

nav.navbar.shrink .logo {
    min-height: 60px;
    max-height: 60px;
}

#home {
    padding-top: 0;
}

.uslugi {
    background: #ffc211;
    /*background: #138a9e;*/
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .uslugi .jumbotron {
        background: #ffc211;
        padding-top: 85px;
        padding-bottom: 1rem;
    }

.klienci {
    background: #030305;
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .klienci .jumbotron {
        background: #030305;
        padding-top: 85px;
        padding-bottom: 1rem;
    }

.opinie {
    background: #030305;
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .opinie .jumbotron {
        background: #030305;
        padding-top: 85px;
        padding-bottom: 1rem;
    }

.kontakt {
    background: #ffc211;
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .kontakt .col-md-6 h1 {
        padding-top: 75px;
    }

    .kontakt .col-md-6 iframe {
        padding-top: 75px;
        min-height: 300px;
    }

    .kontakt .jumbotron {
        background: #ffc211;
        padding-top: 85px;
        padding-bottom: 0rem;
    }

footer {
    background-color: #030305;
    color: #FFF;
    min-height: 100px;
}
    footer h5 {
        text-align: center;
        margin-top: 35px;
    }

    footer .text-muted {
        color: #ffc211 !important;
    }

    footer a {
        color: #fff;
    }

    footer a:hover {
        color: #fff;
    }
